{
    GENOME_FASTA_INPUT: "ftp://ftp.ensembl.org/pub/release-96/fasta/mus_musculus/dna/Mus_musculus.GRCm38.dna.primary_assembly.fa.gz",
    GENE_ANNOTATION_INPUT: "ftp://ftp.ensembl.org/pub/release-96/gtf/mus_musculus/Mus_musculus.GRCm38.96.gtf.gz",
    MOTIF_INPUT: "http://jaspar.genereg.net/download/CORE/JASPAR2018_CORE_vertebrates_non-redundant_pfms_jaspar.txt",
    ORGANISM: "Mus musculus",
    PRIMARY_CONTIGS: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "X", "Y"],
    NON_NUCLEAR_CONTIGS: ["MT"]
}
